@model UpdateBookViewModel

@{
    ViewData["Title"] = "Update the Book";
}

<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-md-6 offset-md-3 bg-light border rounded py-3">
        <form asp-area="Admin" asp-controller="Book" asp-action="Update" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id"/>
            <div class="row mb-3">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Isbn" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="Isbn"/>
                    <span asp-validation-for="Isbn" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Summary" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" asp-for="Summary"></textarea>
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Pages" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="Pages"/>
                    <span asp-validation-for="Pages" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Amount" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="Amount"/>
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="PublishedDateTime" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" asp-for="PublishedDateTime"/>
                    <span asp-validation-for="PublishedDateTime" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Author</label>
                <div class="col-sm-10">
                    <select asp-for="AuthorId" asp-items="@(new SelectList(Model.Authors, "Key", "Value"))" class="form-select">
                        <option value="">Please select</option>
                    </select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10">
                    <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Key", "Value"))" class="form-select">
                        <option value="">Please select</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Publisher</label>
                <div class="col-sm-10">
                    <select asp-for="PublisherId" asp-items="@(new SelectList(Model.Publishers, "Key", "Value"))" class="form-select">
                        <option value="">Please select</option>
                    </select>
                    <span asp-validation-for="PublisherId" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Cover</label>
                <div class="col-sm-10 float-start">
                    <img class="" style="height: 10em; width: 8em;" src="@Model.ImagePath" alt=""/>
                    <input type="hidden" asp-for="ImagePath"/>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="file" asp-for="FormFile" class="form-control" accept="image/png, image/jpg, image/jpeg"/>
                    <span asp-validation-for="FormFile" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary w-50">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>