@model DetailBookViewModel
@{
    ViewData["Title"] = $"Detail of {Model.Name}";
}

<div class="container mt-5">
    <div class="card bg-light">
        <div class="card-body">
            <h2 class="card-title">@Model.Name</h2>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail h-100 w-100" src="@Model.ImagePath" alt="@Model.Name"/>
                </div>
                <div class="col-md-8">
                    <div class="row text-wrapped">
                        <div class="col-md-3">
                            <strong>Author:</strong>
                        </div>
                        <div class="col-md-9">@Model.Author</div>

                        <div class="col-md-3">
                            <strong>Summary:</strong>
                        </div>
                        <div class="col-md-9">@Model.Summary</div>

                        <div class="col-md-3">
                            <strong>ISBN:</strong>
                        </div>
                        <div class="col-md-9">@Model.Isbn</div>

                        <div class="col-md-3">
                            <strong>Pages:</strong>
                        </div>
                        <div class="col-md-9">@Model.Pages</div>

                        <div class="col-md-3">
                            <strong>Amount:</strong>
                        </div>
                        <div class="col-sm-9">@Model.Amount</div>

                        <div class="col-sm-3">
                            <strong>Published:</strong>
                        </div>
                        <div class="col-sm-9">@Model.PublishedDateTime.ToString("MM/dd/yyyy")</div>

                        <div class="col-sm-3">
                            <strong>Category:</strong>
                        </div>
                        <div class="col-sm-9">@Model.Category</div>

                        <div class="col-sm-3">
                            <strong>Publisher:</strong>
                        </div>
                        <div class="col-sm-9">@Model.Publisher</div>

                        <div class="offset-md-3 col-md-9 mt-3">
                            <a asp-area="Home" asp-controller="Book" asp-action="Borrow" asp-route-id="@Model.Id" class="btn btn-primary w-100">Borrow</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>